@import '@splidejs/react-splide/css';

dl,
ol,
ul {
  margin: 0;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

ul {
  display: flex;
  gap: 12px;
}

li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.detail {
  display: flex;
  flex-direction: column; 
 width:100% ;
  max-width: 1300px; 
  margin-inline: auto;

}
.detail__inner {
  position: relative;
}
.detail__backdrop {
  margin: 0;
  position: relative;
  overflow: hidden;
}
.detail__backdrop img {
  object-fit: cover;
  max-width: 1300px;
  max-height: 900px; 
  width: 100%;
}
.detail__backdrop::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 21%, rgba(0, 0, 0, 1) 78%);
  position: absolute;
  top: 0;
  right: 0;
}
.detail__watchbtn {
  display: flex;
  align-items: center;
  gap: 15px;
  background: inherit;
  padding: 15px 30px;
  margin: 1rem 0;
  border-radius: 10px;
  color: white;
  white-space: nowrap;
  font-size: 1.1rem;
  backdrop-filter: blur(6px);
  outline: none;
  border: 1px solid white;
  font-weight: 600;
  transition: .3s all;
  z-index: 2;
}
.detail__watchbtn span {
  transition: .3s all;
}

.detail__watchbtn svg {
  transition: .3s all;
}

.detail__watchbtn:hover {
  background: white;
  color: black;
}

.detail__watchbtn:hover span {
  background: white;
  color: black;
}

.detail__watchbtn:hover svg {
  background-color: white;
  fill: black;
}

.detail__desc {
  width: 30%;
  background: transparent;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 90%;
  padding: 1rem 1rem 1rem 2.5rem;
  text-align: left;
  gap: 1rem;
  z-index: 10;
}

.detail__title {
  font-size: 28px;
}

.detail__genres {
  font-size: 18px;
  font-weight: 600;
}

.detail__overview {
  background-color: inherit;
}

.detail__label {
  font-weight: 600;
  position: relative;
  padding-left: 16px;
}

.detail__label::after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: whitesmoke;
  left: 5px;
  top: 10px;
  margin: auto;
}

.detail__lang {
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid whitesmoke;
  background: #ffffff29;
}

.detail__cast {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.detail__cast__card {
  display: flex;
  flex-direction: column;
}

.detail__cast__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-position: top;
}
