/* General styles */
.upcoming-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0 30px 0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #333;
}

/* Main container styles */
.upcoming__container {
  margin: 0 auto;
  padding: 0 0px;
  max-width: 1302px;
}

/* Card styles */
.crd {
  width: 100%;
  max-width: 450px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border: 4px solid rgba(247, 245, 245, 0.1);
}

.crd:hover {
  cursor: pointer;
  border: 1px solid #460367;
  transform: scale(1.1);
}

.crd::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 5px solid transparent;
  border-right: 0px;
  z-index: -1;
}

/* Card image styles */
.crd-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    transform: scale(1.05); /* Adjusted scale for a clearer effect */
  }
}

.larger-img {
  width: 100%;
  height: 100%;
  margin-inline: auto;
}

/* Card details styles */
.card-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
}

.crd:hover .card-details {
  opacity: 1;
}

/* Typography and color styles */
.name {
  font-size: 20px;
  font-weight: bold;
  color: chartreuse;
}

.card-overview {
  font-size: 10px;
  font-weight: bolder;
  font-family: monospace;
  color: aqua;
  overflow: inherit;
  text-overflow: ellipsis;
  align-content: space-between;
  justify-content: safe;
  font-feature-settings: "akhn";
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .crd {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .crd-img {
    max-width: 100%;
    height: auto;
    border: none;
  }
}
