.upcoming-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.upcoming-heading {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  margin: 20px 0 30px 0;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}

.upcoming_video {
  display: flex;
  transition: transform 0.5s ease;

}

.box-fox {
  position: relative;
  max-width: 450px; 
  height: 400px;
  transition: 1.9s;
  margin-right: 10px;
}

.box-fox:hover {
  cursor: pointer;
  /* transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em); */
  box-shadow: 0px 0px 0.75em rgba(0, 0, 0, 0.9);
  /* background-color: blueviolet; */
}
.box-fox::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  max-width: 480px;
  background: linear-gradient(
    230deg,
    rgba(12, 12, 12, 0.2) 0%,
    rgba(205, 185, 223, 0.1) 50%,
    rgb(216, 148, 148) 75%,
    rgb(250, 243, 243) 100%
  );
  z-index: -1;
}
.card-pic {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #fff;   
  z-index: -2;
  width: 100%;
  max-width: 850px;
  height: 100%;
  object-fit: cover;
  margin-inline: auto;
  border-radius: 10px;

    /* &:hover {
    transform: scale(1.1);
  } */
}
.box-fox:last-child {
  margin-right: 70px;
}
.content-container {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.2s ease;

  /* &:hover {
    transform: scale(1.1);
  } */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.text-overlay h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 14px;
  margin-bottom: 10px;
}

.text-overlay a {
  background: rgb(34, 0, 255);
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: background 0.2s;
}

.text-overlay a:hover {
  background: rgb(0, 7, 139);
}

.card:hover .text-overlay {
  visibility: visible;
  opacity: 1;
}

