.upcoming-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
  overflow: visible;
  padding: 0%;
}
.upcoming-title {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  display: block;
  justify-content: center;
}
.crd {
  width: 430px;
  height: 300px;
  margin-right: 10px;
  position: relative;
  transition: transform 0.2s ease;
  overflow: visible;
}

.crd:hover {
  cursor: pointer;
  border: 1px solid #460367;
  transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em);
  /* box-shadow: 0px 0px 0.75em rgba(0, 0, 0, 0.9); */
}
.crd::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 830px;
  height: 300px;
  border-left: 5px solid transparent;
  border-right: 0px;
  z-index: -1;
}
.crd-img {
  transition: transform 0.2s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  max-width: 430px;
  height: 100%;
  object-fit: cover;
  margin-inline: 5px;
  border: 10px solid #fff;
  box-sizing: 8px;

  &:hover {
    transform: scale(1.1);
  }
}

.hovered .card-details {
  opacity: 0.1;
}
.card {
  text-align: center;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.larger-img {
  max-width: 100%;
  height: auto;
}
.content-container {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.2s ease;
}
.name {
  font-size: 20px;
  font-weight: bold;

  color: chartreuse;
}
.card-overview {
  font-size: 10px;
  font-weight: bolder;
  font-family: monospace;
  color: aqua;
  overflow: hidden;
  object-fit: cover;
  align-content: space-between;
  justify-content: safe;
  font-feature-settings: "akhn";
}
.crd {
  position: relative;
  width: 430px;
  height: 300px;
  margin-right: 10px;
  transition: transform 0.2s ease;
  overflow: hidden;
}
.crd-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #fff;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.crd:hover .crd-img {
  transform: scale(1.1);
  opacity: 0.7;
}

.larger-img {
  width: 100%;
  height: 100%;
  margin-inline: auto;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
   flex-direction: column; 
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: break-word;
}

.crd:hover .card-details {
  opacity: 1;
}
